body {
  background: #000;
  font-family: 'Press Start 2P', monospace;
  font-size: 14px;
  white-space: nowrap;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select:none;
  -o-user-select:none;
  user-select:none;
}

textrow {
  color: #4b4;
  display: block;
  margin: 20px;
}

textbox {
  color: #4b4;
  display: block;
  line-height: 28px;
  margin: 20px;
  white-space: normal;
}

.flag-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.flag {
  border: 2px solid #000;
  height: auto;
  max-height: 12%;
  padding: 6px;
  width: 12%;
}

.flag:hover {
  border: 2px solid #4b4;
  cursor: none;
}

wd-selector {
  color: #4b4;
  display: block;
  padding: 10px 20px 10px 20px;
}

wd-selector:hover {
  background: #4b4;
  color: #000;
  cursor: none;
  display: block;
  padding: 10px 20px 10px 20px;
}
