body {
  background: #000;
  font-family: 'Press Start 2P', monospace;
  font-size: 14px;
  white-space: nowrap;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select:none;
  -o-user-select:none;
  user-select:none;
}

#world-map {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

textrow {
  color: #4b4;
  display: block;
  margin: 20px;
}

textbox {
  color: #4b4;
  display: block;
  line-height: 28px;
  margin: 20px;
  white-space: normal;
}

sidebar {
  align-items: center;
  border-right: 2px solid #4b4;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  left: -100px;
  position: absolute;
  top: 0;
  transition: left 1s;
  width: 100px;
}

icon {
  /*border: 2px solid #4b4;*/
  color: #4b4;
  display: block;
  font-size: 40px;
  height: 60px;
  line-height: 40px;
  text-align: center;
  transition: width .4s, height .4s;
  width: 60px;
}

#icon-troops {
  font-size: 70px;
}

icon:hover {
  background: #4b4;
  color: #000;
  cursor: pointer;
}

.flag-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.flag {
  border: 2px solid #000;
  height: auto;
  max-height: 12%;
  padding: 6px;
  width: 12%;
}

.flag:hover {
  border: 2px solid #4b4;
  cursor: none;
}

wd-selector {
  color: #4b4;
  display: block;
  padding: 10px 20px 10px 20px;
}

wd-selector:hover {
  background: #4b4;
  color: #000;
  cursor: none;
  display: block;
  padding: 10px 20px 10px 20px;
}
